* {
  box-sizing: border-box;
}

body {
  background: #d7ffdb;
  min-width: 320px;
}

.page-btn {
  margin-top:50px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #88c74a;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover {
  background: #88c74a;
  color: white;
}

.filters {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}